html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  background-image:
    linear-gradient(rgba(128, 128, 128, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(128, 128, 128, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;
}

section {
  flex: 1;
}

.container1 {
  background-color: rgb(65, 64, 64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  border-radius: 0 0 8px 8px;
}

h1 {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}

.navLinks {
  gap: 0.5rem;
  display: flex;
  align-content: flex-end;
  justify-content: space-evenly;
}

a {
  color: white;
  transform: scaleY(2);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#img1 {
  width: 300px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border: 10px solid rgb(59, 59, 59);
  border-radius: 8px;
  margin: 40px;
}

footer {
  background-color: rgb(65, 64, 64);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 2px 10px 0 0 rgba(0, 0, 0, 0.7);
  border-radius: 8px 8px 0 0;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .container1 {
    flex-direction: column;
    padding: 1rem 0;
    gap: 10px;
  }

  .navLinks {
    justify-content: center;
    width: 100%;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
